.logged-out-div {
    position: relative;
    display: 'block',
}

.test {
    background-image: url('../../images/possible-background-1.gif');
    display: flex;
    flex-direction: column;
    display: inline-block;
    color: white;
    margin-top: 60px;
}

.test-2 {
    background-image: url('../../images/girl.gif');
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    color: black; 
	height: 100%;
	width: 100%;
}

html {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.book-shelf {
	display: flex;
	flex-wrap: wrap;
}
img {
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}