/* Set up responsive design */
@media (max-width: 812px) {
    .login-div {
      flex-direction: column;
      align-items: center;
    }
    .login-form {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .username-input, .password-input {
      margin-left: 0;
    }
    .login-button-div {
      margin-left: 0;
    }
  }
  
  /* Set up styling */
  .login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/sunset.gif');
    background-size: cover;
    height: 100vh;
  }
  
  .login-form {
    color: #fff;
    margin-top: 60px;
  }
  
  .username-input, .password-input {
    margin-top: 20px;
    margin-left: 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background: transparent;
    font-size: 14pt;
    border: none;
    outline: none;
    color: white;
    width: 80%;
    max-width: 300px;
  }
  
  .login-button-div {
    margin-left: 0;
    margin-top: 40px;
  }
  
  .login-btn {
    background: none;
    border: 2px solid #fff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    transition: all .5s ease;
  }
  
  .login-btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  