/*
come back to css
*/

/* background-image: url('../../images/sitebackground.png'); */
html, body{
  margin:0px;
  padding:0px;
}
  .navbar-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }

  .navbar-left,
.navbar-right {
  
  display: inline-block;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pipechar {
  pointer-events: none;
}

.navbar-btn {
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: color 0.5s, border-bottom 0.5s;
}

.navbar-btn:hover {
  color: #eaeff2;
  background-color: rgb(112, 112, 184);
  border-bottom: 1px solid #eaeff2;
}
.create-a-book {
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: color 0.5s, border-bottom 0.5s;
}
.create-a-book:hover {
  color: #eaeff2;
  background-color: rgb(112, 112, 184);
  border-bottom: 1px solid #eaeff2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 64px;
  padding: 0 30px;
  margin: 0px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
  background-color: black;
}


.signup {
  color: black;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  padding: 0px 36px;
  height: 48px;
  min-width: 144px;
  border-radius: 24px;
  cursor: pointer;
  background-color: rgb(103, 149, 218);
  font-size: 20px;
  font-weight: bold;
}

.login {
  color: black;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  padding: 0px 36px;
  height: 48px;
  min-width: 144px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  background-color: rgb(65, 117, 228);
}

.home {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  padding: 0px 36px;
  height: 48px;
  min-width: 20px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 20px;
  background-color: rgb(1, 82, 175);
}