/*
come back to css
*/

/* background-image: url('../../images/sitebackground.png'); */
html, body{
  margin:0px;
  padding:0px;
}
  .navbar-wrapper {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }

  .navbar-left,
.navbar-right {
  display: inline-block;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-left {
  margin-left: 15px;
}
.navbar-right {
  margin-right: 15px;
}
.pipechar {
  pointer-events: none;
}

.navbar-btn {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: color 0.5s, border-bottom 0.5s;
}

.navbar-btn:hover {
  color: #eaeff2;
  border-bottom: 1px solid #eaeff2;
}