.fire {
    height: 100%;
    width: 60%;
}
.edit-form {
  margin-left: 600px;
    position: absolute;
    background-color: rgba(47,49,60,255);
    outline: 5px dotted green;
    width: 200px;
}
.wrapper-div{
    display: flex;
    justify-content: center;
}