* {
    box-sizing: border-box;
  }

.fire {
    height: 80%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.edit-form {
    background-color: rgba(47,49,60,255);
    position: absolute;
    right: 768;
    top: 150;
    margin: 20px;
    // max-width: 300px;
    width: 300px;
    padding: 16px;
}

// .wrapper-div{
//     display: flex;
//     align-items: center;
// }
.form-name
{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background: transparent;
    font-size:14pt;
    border: none;
    outline: none;
    color: white;
}
.description {
    margin-top: 80px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background: transparent;
    font-size:14pt;
    border: none;
    outline: none;
    color: white;
}
.btn-container {
    margin: 50px;
    display: block;
    width: 400px;
    text-align: center;
  }
  
  .pixel, .pixel2 {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active, .pixel2:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    right: 140;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  .pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    font-family: 'VT323';
    text-transform: uppercase;
    
    font-size: 25px;
    color: white;
  }
  
  .pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
  }
  
  .pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
  }
  
  .pixel2 {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
  }