/*
Come back to css
*/

.create-notebook-container{
    position: relative;
    display: flex;
    background-color: #a26e48;
    height: 100%;
    width: 2000px;
    align-items: normal;
    text-align: center;
}

.notebook-form {
    flex-direction: column;
    height: 200;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
}
.btn-div{
    margin-top: 60px;
}

.campfire-img-div {
    position: absolute;
     margin-top:200;
     margin-left: 500;
}

.creation-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 720;
    margin-top:170;
}

.notebook-input:focus, textarea:focus, select:focus{    
    // outline: none;
    // background: transparent;
    // border: none;
}

.notebook-input {
    font-size: 24px;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.notebook-input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}


/*
TOTORO CONTAINER
*/

.totoro-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top:500;
}

.totoro-speak-container{
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    top:600;
    right:100;
}

.brown-square-container{
    position: absolute;
    top:60;
    left: 720;
}
.brown-sqr {
    height: 30%;
}
.name-and-desc {
    margin-left: 140;

}

.create-a-book-btn {
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: grey;
}

.mixel {
    left: 80px;
    margin-top: 10px;
    line-height: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .mixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  .mixel p:hover{
    color: rgb(236, 213, 148);
    cursor: pointer;
  }
  
  .desc-inp-div{
      height: 100px;
      width: 200px;
      margin-right: 130px;
      overflow-y: scroll;
      border-radius: 16px;
  }
  .desc-inp-div:focus{
    border-radius: 16px;
  }
  .name-change{
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
  }